<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Listener.firstListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>BundleController</servlet-name>
        <servlet-class>controllers.BundleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxController</servlet-name>
        <servlet-class>controllers.AjaxController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controllers.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPassword</servlet-name>
        <servlet-class>controllers.UserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>controllers.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNotificationController</servlet-name>
        <servlet-class>controllers.DeleteNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCVController</servlet-name>
        <servlet-class>controllers.UserCVController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CVController</servlet-name>
        <servlet-class>controllers.CVController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackController</servlet-name>
        <servlet-class>controllers.BackController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BundleController</servlet-name>
        <url-pattern>/BundleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxController</servlet-name>
        <url-pattern>/AjaxController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/UserProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPassword</servlet-name>
        <url-pattern>/UserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/NotificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNotificationController</servlet-name>
        <url-pattern>/DeleteNotificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCVController</servlet-name>
        <url-pattern>/UserCVController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CVController</servlet-name>
        <url-pattern>/CVController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackController</servlet-name>
        <url-pattern>/BackController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
